*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQFjpySdQRyKZQ/company-background_10000/0?e=2159024400&v=beta&t=wPY1UIts3zcu5DR6I5tMTa89bQTt1VQQwUQvU9ikRiQ");
  background-size: auto 100vh ;
  font-family: 'Codystar', cursive;
  height:100vh;
}
header {
  height:100vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
.menu a {
  display: block;
  padding: 10px 20px;
}
.menu a:hover {
      color: rgb(128, 197, 128) ;
      transition: text-shadow 2s;
      }

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-shadow: rgb(2, 26, 2);
}
.menu {
  background-size: auto;
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: black;
  z-index: 1;  
}
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
  justify-content:space-around;
}
.title {
 transform: scale(0.2) translateY(50vh) ;
 opacity: 0;
 animation: ease-in 2s animationTitle forwards;

}
@keyframes animationTitle{
 0%{
 /*estado inicial*/
 
}
100%{
 /*estado final*/
 transform: scale(1) translateY(0);
 opacity: 1;
 
}
 
 }

.site-subtitle,
.site-title {
  text-align: center;
  color:whitesmoke;
}
.site-title 
{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  }
.site-subtitle {
  font-family: 'Codystar', cursive;
  }

  .about p{
    color: whitesmoke;
    text-indent: 2em;
    margin-bottom: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    }
     .about a{
      text-decoration: underline;
      }
.about a:hover{
  color: rgb(33, 82, 33) ;
  }
  

  .about .gis img{
    margin-left: 2em;
    float: right;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }


  .about,
  .contact,
  .portifolio {
    padding:2em;
    background-color:rgb(24, 22, 22);
    min-height: 100vh;
    }

    @media (min-width:1400px)
    {
  .container
  {
   max-width: 1400px;
   margin-left: auto;
   margin-right: auto;

    }
      }

    .about h2,
    .contact h2,
.portifolio h2{
  color:white;
  text-align: center;
  margin-bottom: 3em;
  }
  .portifolio .grid{
    display: grid;
    gap: 1em;
  grid-template-columns: 400px 400px 400px;
    
    }
  .portifolio figure{
    text-align: center;
    
    }
    .portifolio figcaption{
      color: whitesmoke;
      margin-top: 2em;
      }
.img-portfolio {
  height:50vh;
  width:50vh;
  object-fit: cover; /*colocar a imagem sem deformar*/
  transition: transform 500ms; /*sempre utilizar com funcoes como rotate transform and etc..*/
  }

  .card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    }
    .flip-card:hover .card{
      transform: rotateY(180deg);
      }
      .flip-card{
        perspective: 700px;
        }
  .card-front, .card-back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    }

    .card-back{
      height: 50vh ;
      width: 50vh;
      transform: rotateY(180deg);
      background-color: black;
      }

  /*.img-portfolio:hover {
    transform: scale(1.2);
    }*/

  .contact .icons {
    text-align: center;
    }
  .contact a {
    color: whitesmoke;
    font-size: 3em;
    transition: text-shadow 2s;
    }
    .contato a:active /*click moment - for mobile users*/
    .contato a:hover {
      text-shadow: 1px 1px 10px wheat;
      }


