*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia;
  background-image: url("https://static.wixstatic.com/media/304fdc_febcb2d3fc7f40cf9f0bfe15b15b6c00~mv2.png/v1/fill/w_640,h_640,al_c,q_90,usm_0.66_1.00_0.01/304fdc_febcb2d3fc7f40cf9f0bfe15b15b6c00~mv2.webp");
  background-size: auto 100vh ;
  height:100vh;
}

/*media is used to do responsive site for mobile sites (breakpoints)*/
@media( min-width: 400px){
  body {
    font-size: 12px;
  }
}
@media( min-width: 600px){
  body {
    font-size: 18px;
  }
}


header {
  height:100vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
.menu a {
  display: block;
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.menu {
  background-size: auto;
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: black;
}
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
  justify-content:space-around;
}
.site-subtitle,
.site-title {
  text-align: center;
  font-size: 4em ;
  color:green;
}
.site-subtitle {
  font-style: italic;
  }
.img-portfolio {
  height:30vh;
  width:30vh;
  }


